<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.codeeshop.braintree" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Braintree</name><js-module name="braintree" src="www/braintree.js"><clobbers target="braintree" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Braintree"><param name="android-package" value="com.codeeshop.braintree.Braintree" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/Braintree.java" target-dir="src/com/codeeshop/braintree/Braintree" /></platform></plugin>